@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700|Junge:400");

  .faq-title {
	font-family: 'Junge';
	font-style: normal;
	font-weight: normal;
	color: #FFFBFB;
	text-transform: uppercase;
  }

  .ant-collapse-content-box {
	background: #C2A800;
	color: white;
  }

  .ant-collapse-content {
	background: #C2A800;
	font-family: 'Junge';
	font-style: normal;
	font-weight: normal;
  }

  .faq-panel {
	font-family: 'Junge';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	background: #C2A800;
	border: 5px solid #6F6210;
	box-sizing: border-box;
	border-radius: 3px;
  }

  .ant-collapse {
	border: 0px;
  }